
@{
    ViewBag.Title = "Adres";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div id="sidebar" class="span3">
        <div class="well well-small">
            <ul class="nav nav-list">
                @Html.Action("_CategoryList", "Category")
                <li style="border:0"> &nbsp;</li>
                @Html.Action("Summary", "Cart")
            </ul>
        </div>


        @Html.Action("_FeaturedProductList", "Home")

    </div>
    <div class="span9">
        <ul class="breadcrumb">
            <li><a href="/Home/Index">Anasayfa</a> <span class="divider">/</span></li>

            <li class="active">Adres</li>
        </ul>
        <div class="well well-small">
            <h4>Adres: Atalar Mahallesi Zeytinlik No:61, Kartal ,İstanbul</h4>
            <h4>Telefon : 0532 369 2583</h4>
            <hr class="softn clr">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d495.9355329313451!2d29.168613534315195!3d40.90506429463613!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cac389ffcfffff%3A0x284b7fcfe95e1d79!2sEuro%20Bilgisayar!5e0!3m2!1str!2str!4v1638944177111!5m2!1str!2str" 
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>



        </div>
    </div>
</div>
